{% extends "base.html" %}

{% load static %}


{% block title %}Law | Courts {% endblock title %}Law | Courts 
<style>
    .container-sm {
        max-width: 780px;
    }
    .main-heading {
        font-size: 3.5rem; /* Large size */
        color: #343a40; /* Dark text */
        text-align: center; /* Centered */
        margin-top: 50px; /* Space above */
        margin-bottom: 20px; /* Space below */
    }
    .sub-heading {
        font-size: 1.5rem; /* Smaller size */
        color: #6c757d; /* Gray text */
        text-align: center; /* Centered */
        margin-bottom: 40px; /* Space below */
    }
</style>

{% block  content%}
<br><br>
<div class="container text-center">
    <h1 class="main-heading">Types of Courts in INDIA</h1>
<img src="{% static 'images/blog/types-of-court.png' %}" fetchpriority="high"  decoding="async" alt="images" width="1020" height="576" class="oval-one">
<br><br>
<h1 class="main-heading"><b>Hierarchy of courts in India</b></h1>

<div class="conatiner-sm"><p>The main characteristics of the Indian judicial system are its hierarchical composition of courts. This type of system is capable enough to make limitation of court with its jurisdiction and power in terms of exercising it. The Supreme Court of India which is also considered as the Apex court of the nation is placed at the top of the hierarchical position followed by those 25 High Courts in the regional level and lower courts (District court or session court) at micro-level with the distribution of power and using or exercising of the same for the welfare of people of India.</p> </div>
<br><hr>
<h2 class="sub-heading"><b>1.Supreme Court of India</b></h2>
<div class="container-sm"><p>The Supreme court of India is the apex court or the highest judicial body. It is also considered as the highest constitutional court having the power of Judicial review and the last and the final court of appeal (which made against any subordinate court like High Courts or any tribunals) under the Indian Constitution. It consisting basically all type of jurisdictional power like Original, Appellate and Advisory. The composition of the court is that it consists of 30 judges + a Chief Justice of India means a maximum of 31 judges can appoint at a time in the Court. 
The actual duty of any court in India is to safeguard the Part III of the Indian Constitution, i.e., <a href="https://legodesk.com/legopedia/difference-between-fundamental-rights-and-constitutional-rights/" target="_blank" rel="noopener noreferrer">Fundamental Right of the Citizens</a> also settling disputes between various government authorities along with central vs. state or state versus some other state of the country. As part of Advisory court, this court also hears the matter which sometimes referred by the President of India.<br> As the apex court of the country, the law declared by the supreme court is binding in all over the Nation ( power is given under Article 142 ), and it is the duty of the president to enforce the decree of this court.</p> </div>
<br><hr>


<h2 class="sub-heading"><b>2.High Court</b></h2>
<div class="container-sm"><p>The High Court is the supreme judicial body in a state, and According to the Article 214 of the <a href="https://legodesk.com/legopedia/facts-about-constitution-of-india/" target="_blank" rel="noopener noreferrer">constitution of India</a>, each state of India must have a High Court, and It is also considered as the final interpreter of the constitution after the Supreme Court. High Court exercises its original civil and criminal jurisdiction only if the lower courts are not authorized by law to try such kind of matters for lack of pecuniary (monetary), territorial jurisdiction, and lastly, this court also has original jurisdiction too sometimes.</p> </div>
<br><hr>


<h2 class="sub-heading"><b>3.District Court</b></h2>
<div class="container-sm"><p><strong>E</strong>ach and every district is consist of a district court in a state or Union territories, The actual basis of constituting of district courts in India almost depends upon the discretion of the state governments or the government of union territories. The compositions are based on such factors as how much cases are register, or total population or actual scenario of the district, etc.&nbsp; Depending upon those factors involved the state government may give the decision of numbers of District Courts to be in operation for the single district, or two districts may be a single district court.</p> </div>
<br><hr>


<h2 class="sub-heading"><b>4.Subordinate Court</b></h2>
<div class="container-sm"><p>Lastly, although each court is a subordinate court of someone except the Supreme Court. As <a href="https://legodesk.com/legopedia/high-courts-in-india/">High Court</a> is the subordinate court of the Supreme court, District and session court are the subordinate courts of the high court, but in the conceptual term, a subordinate court basically denotes the village court known as <a href="https://legodesk.com/legopedia/lok-adalat/" target="_blank" rel="noopener noreferrer">Lok Adalat</a> or Nyay Adalat which means the service of justice is now extended to the villagers of India. The village people may not come to all away from their village to nearby district city. This system becomes part of the judicial system started from Madras Village Courts act 1888 for resolving disputes at the micro-level.</p> </div>
<br><hr>

</div>
{% endblock content %}