{% extends "base.html" %}
{% load static %}

{% block title %}Law | Home{% endblock title %}

{% block content %}

    <div class="flat-slider clearfix">
        <div class="rev_slider_wrapper fullwidthbanner-container">
            <div id="rev-slider1" class="rev_slider fullwidthabanner">
                <ul>
                    <!-- Slide 1 -->
                    <li data-transition="random">
                        <!-- Main Image -->
                        <img src="{% static 'images/transparent-head/ipc2.jpg' %}" alt="" data-bgposition="center center" data-no-retina>
                   
                        <!-- Layers -->
                        <div class="tp-caption tp-resizeme text-white font-weight-700 text-center"
                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                        data-y="['middle','middle','middle','middle']" data-voffset="['-146','-146','-130','-150']"
                        data-fontsize="['30','30','24','16']"
                        data-lineheight="['70','70','36','30']"
                        data-width="full"
                        data-height="none"
                        data-whitespace="normal"
                        data-transform_idle="o:1;"
                        data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                        data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                        data-mask_in="x:0px;y:[100%];" 
                        data-mask_out="x:inherit;y:inherit;" 
                        data-start="700" 
                        data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on">
                        Constitution of India
                        </div>

                        <div class="tp-caption tp-resizeme text-white font-weight-700 text-center"
                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                        data-y="['middle','middle','middle','middle']" data-voffset="['-80','-80','-70','-80']"
                        data-fontsize="['72','72','52','40']"
                        data-lineheight="['100','100','64','52']"
                        data-width="full"
                        data-height="none"
                        data-whitespace="normal"
                        data-transform_idle="o:1;"
                        data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                        data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                        data-mask_in="x:0px;y:[100%];" 
                        data-mask_out="x:inherit;y:inherit;" 
                        data-start="1000" 
                        data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on">
                        Satyamev Jayate
                        </div>

                        <div class="tp-caption tp-resizeme text-description text-white text-center"
                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                        data-y="['middle','middle','middle','middle']" data-voffset="['31','31','10','40']"
                        data-fontsize="['21','21','16','16']"
                        data-lineheight="['33','33','28','28']"
                        data-width="full"
                        data-height="none"
                        data-whitespace="normal"
                        data-transform_idle="o:1;"
                        data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                        data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                        data-mask_in="x:0px;y:[100%];" 
                        data-mask_out="x:inherit;y:inherit;" 
                        data-start="1000" 
                        data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on">
                        We stand for Justices
                        </div>


                    <!-- /End Slide 1 -->

                    <!-- Slide 2 -->
                    <li data-transition="random">
                        <!-- Main Image -->
                        <img src="{% static 'images/transparent-head/ipc2.jpg' %}" alt="" data-bgposition="center center" data-no-retina>
                   
                        <!-- Layers -->
                        <div class="tp-caption tp-resizeme text-white font-weight-700 text-center"
                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                        data-y="['middle','middle','middle','middle']" data-voffset="['-146','-146','-130','-150']"
                        data-fontsize="['30','30','24','16']"
                        data-lineheight="['70','70','36','30']"
                        data-width="full"
                        data-height="none"
                        data-whitespace="normal"
                        data-transform_idle="o:1;"
                        data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                        data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                        data-mask_in="x:0px;y:[100%];" 
                        data-mask_out="x:inherit;y:inherit;" 
                        data-start="700" 
                        data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on">
                        Constitution of India   
                        </div>

                        <div class="tp-caption tp-resizeme text-white font-weight-700 text-center"
                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                        data-y="['middle','middle','middle','middle']" data-voffset="['-80','-80','-70','-80']"
                        data-fontsize="['72','72','52','40']"
                        data-lineheight="['100','100','64','52']"
                        data-width="full"
                        data-height="none"
                        data-whitespace="normal"
                        data-transform_idle="o:1;"
                        data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                        data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                        data-mask_in="x:0px;y:[100%];" 
                        data-mask_out="x:inherit;y:inherit;" 
                        data-start="1000" 
                        data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on">
                       Satyamev Jayate
                        </div>

                        <div class="tp-caption tp-resizeme text-description text-white text-center"
                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                        data-y="['middle','middle','middle','middle']" data-voffset="['31','31','10','40']"
                        data-fontsize="['21','21','16','16']"
                        data-lineheight="['33','33','28','28']"
                        data-width="full"
                        data-height="none"
                        data-whitespace="normal"
                        data-transform_idle="o:1;"
                        data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                        data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                        data-mask_in="x:0px;y:[100%];" 
                        data-mask_out="x:inherit;y:inherit;" 
                        data-start="1000" 
                        data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on">
                        We stand for Justices
                        </div>


                    </li>
                    <!-- /End Slide 2 -->
                </ul>
            </div>
        </div>
    </div><!-- flat-slider -->
    <section class="iconbox-home clearfix">
        <div class="container">
            <div class="iconbox-features type2">
                <div class="iconbox iconbox-1">
                    <div class="bck-stand"></div>
                    <div class="bnc">
                        <div class="iconbox-wrap">
                            <div class="iconbox-icon">
                                <img src="{% static 'images/home1/01.png' %}" alt="images">
                            </div>
                            <div class="iconbox-content">
                                <h5 class="title"><a href="#">Rights </a></h5>
                                <p class="description">
                                    
                                    The Constitution grants all citizens fundamental rights and protects individual rights.
                                </p>
                                <div class="fl-btn">
                                    <a href="#">read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="iconbox iconbox-2 active">
                    <div class="bck-stand"></div>
                    <div class="bnc">
                        <div class="iconbox-wrap">
                            <div class="iconbox-icon">
                                <img src="{% static 'images/home1/02.png' %}" alt="images">
                            </div>
                            <div class="iconbox-content">
                                <h5 class="title"><a href="#">We Stand For Justice</a></h5>
                                <p class="description">
                                    Indian Constitution ensure Social,Economic,Political Justice
                                </p>
                                <div class="fl-btn">
                                    <a href="#">read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="iconbox iconbox-3">
                    <div class="bck-stand"></div>
                    <div class="bnc">
                        <div class="iconbox-wrap">
                            <div class="iconbox-icon">
                                <img src="{% static 'images/home1/03.png' %}" alt="images">
                            </div>
                            <div class="iconbox-content">
                                <h5 class="title"><a href="#">Equality</a></h5>
                                <p class="description">
                                    
                                    The Constitution establishes equality before the law.
                                </p>
                                <div class="fl-btn">
                                    <a href="#">read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- iconbox -->
    <section class="about-home">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="featured-post">
                        <div class="entry-image">
                            <img src="{% static 'images/home1/ambedkar.jpg' %}" alt="images">
                        </div>
                        <div class="image-move">
                            <img src="{% static 'images/home1/05.png' %}" alt="images" class="oval-one">
                            <img src="{% static 'images/home1/06.png' %}" alt="images" class="oval-two">
                            <img src="{% static 'images/home1/07.png' %}" alt="images" class="oval-three">
                            <img src="{% static 'images/home1/08.png' %}" alt="images" class="oval-four">
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="flat-spacer" data-desktop="36" data-sdesktop="20" data-mobi="0" data-smobi="0"></div>
                    <div class="content">
                        <div class="title"><a href="#">Constitution of India</a></div>
                        <p class="description">
                            <cite>"India must strive to be a social democracy and not merely a political democracy"</cite>
                        </p>
                        <p class="description">
                            
                            As the chairman of the Constitution Drafting Committee, Dr Ambedkar played a crucial role in framing the Constitution of India. He ensured that the Constitution included provisions for fundamental rights, abolition of untouchability, and affirmative action to uplift socially disadvantaged groups.
                        </p>
                        <div class="fl-btn">
                            <a href="https://www.constitutionofindia.net/members/b-r-ambedkar/#:~:text=On%2025%20November%201949%2C%20a,as%20the%20principles%20of%20life" class="hvr-vertical">read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- about -->

    
  <!-- facts -->
    <section class="practice-featured">
        <div class="practice-area practice-area-style2">
            <div class="container">
                <div class="title-section text-center">
                    <h3 class="flat-title">Practice Area</h3>
                    <p class="sub-title">The Constitution of India guarantees protection of life and personal liberty to one and all.</p>
                </div>
                <div class="practice-area-wrap">
                    <div class="row">
                        <section class="practice-featured">
                            <div class="practice-area practice-area-style2">
                                <div class="container">
                        
                                    <div class="practice-area-wrap">
                                        <div class="row">
                                            {% for law in lawlist %}
                                            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                                <div class="image-box-law">
                                                    <div class="featured-post">
                                                        <div class="entry-image">
                                                            <a href="#"><img src="{{ law.image.url }}" alt="{{ law.category }}"></a>
                                                        </div>
                                                        <div class="icon">
                                                            <img src="{{ law.icon.url }}" alt="images">
                                                        </div>
                                                    </div>
                                                    <div class="content-law">
                                                        <h4 class="name">{{ law.category }}</h4>
                                                        <p class="description">{{ law.description }}</p>
                                                        <a href="{% url 'lawlist' %}">read more</a>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                        
                        
                    </div>
                </div>
            </div>
        </div><!-- practice -->
        
    </section><!-- practice-featured -->
    
                           
               <!-- case-evaluation -->
   
{% endblock content %}